*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100%;
  background: linear-gradient(to top right, white, rgb(162, 121, 43));
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
}
ul li{
  display: inline-block;
}
li{
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
#mainHeader{
  position: fixed;
  top: 15%;
  left: 18%;
}

#firstLineBreak{
  position: relative;
  top: 15%;
}
#openAddProperties{
  position: fixed;
  top: 20%;
  left: 18%;
  background-color: rgb(141, 106, 37);
  border: 0;
  box-shadow: 0 1px 3px black;
  color: white;
  padding: 12px 24px;
}
#removeProperties{
  position: fixed;
  top: 20%;
  left: 27%;
  background-color: rgb(141, 106, 37);
  border: 0;
  box-shadow: 0 1px 3px black;
  color: white;
  padding: 12px 24px;
}
#removeProperties:hover{
  color: black;
}
#openAddProperties:hover{
  color: black;
}

.popUpBox{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;
  padding-top: 200px; /* Location of the box */
  top: 0;
  left: 0;
  width: 20%; 
  height: 40%; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.closeBox{
  text-decoration: none;
  cursor: pointer;
  font-size: xx-large;
  float: right;
}
.closeBox:hover{
  color: darkred;
}

#boxContainer{
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height:100%;

}

.boxContent{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
#propAddress, #propHood, #sqFT{
  height: 4vh;
}
#propAddress, #propHood{
  width: 21vw
}